h1 {
    color: darkslateblue;
    background-color: bisque;
}
ul{
    list-style-type: none;
}
p{
    line-height: 2rem;
}
img {
    border-radius: 25rem;
    width: 300px;
    height: 300px;
}
 blackquote{
    border-radius: 25rem;
 }


